<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parabank Playwright Suite"
       parallel="classes" thread-count="2" verbose="2">
    <listeners>
        <listener class-name="com.parabank.utils.TestFailureListener"/>
        <listener class-name="com.parabank.utils.AnnotationTransformer"/>
    </listeners>
    <test name="Parabank Functional Tests">
        <classes>
            <class name="com.parabank.ui.RegistrationTest"/>
            <class name="com.parabank.ui.LoginTest"/>
            <class name="com.parabank.ui.AccountManagementTest"/>
            <class name="com.parabank.ui.TransactionsTest"/>
            <class name="com.parabank.api.AccountManagementApiTest"/>
            <class name="com.parabank.ui.LoanTest"/>
        </classes>
    </test>
</suite>